.root {
    margin-top: 40px;
    li {
        display: inline-block;

        a {
            width: 40px;
            height: 40px;
            justify-content: center;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            line-height: 38px;
            border: 1px solid #fe5f1e;
            color: #fe5f1e;
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                background-color: #fe5f1e;
                color: aliceblue;
            }
        }
    }

    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: aliceblue;
            }
        }
    }

}